{% extends 'base.html.twig' %}

{% block title %}Réservation d'un concert{% endblock %}

{% block body %}
<form action="">
    <div class="container flex-end mb-5">
        <div class="w-50">
            <label for="firstname" class="form-label">Prénom</label>
            <input type="text" name="firstname" placeholder="Votre prénom" id="firstname" class="form-control mb-2" {% if not artist %}
                autofocus
            {% endif %}/>
        </div>
        <div class="w-50">
            <label for="lastname" class="form-label">Nom</label>
            <input type="text" name="lastname" placeholder="Votre nom" id="lastname" class="form-control mb-2" />
        </div>
        <div class="w-50">
            <label for="firstname" class="form-label">Numéro de téléphone</label>
            <input type="phone" name="phone" placeholder="Votre numéro de téléphone" id="phone" class="form-control mb-2" />
        </div>
    </div>
    <table class='table'>
        {% set index = 0 %}
        {% for day in days %}
            {% for hour in hours %}
                <tr class="border-1 border-info">
                    <td class="text-center">{{ day }}</td>
                    <td class="text-center">{{ hour }}</td>
                    <td class="text-center">{{ artists[index].name }}</td>
                    <td class="text-center">
                        <input type="number" min="0" max="10" placeholder="Nombre de places" name="concert_{{ index }}"  class="bg-light w-75" {% if artist and index == artist.concert  - 1 %}autofocus value="1"{% endif %}  />
                    </td>
                </tr>
                {% set index = index + 1 %}
            {% endfor %}
        {% endfor %}
    </table>
    <div class="text-center">
        <button type="button" class="btn btn btn-secondary my-2">Réserver vos places</button>
    </div>
</form>
{% endblock %}