{% extends 'base.html.twig' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
    <div class="card border-{{ artist.category ? artist.category.color : 'dark'}} p-3 text-white">
        <div class="card-title">
            <h1>{{ block('title') }}</h1>
        </div>
        {{ artist.description}}
        </div>
{% endblock %}
